.schedule-container {
    margin: auto;
    width: 90%;
    height: 90vh;
}

.select-container {
    width: 10%;
    float: right;
    height: 5vh;
}

.month-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    float: left;
    width: 80%;
    height: 5vh;
}

.schedule-selection {

    font-size: 2vh;
}

.today-button {
    padding: 10px;
}

.month-change-button {
    margin: 10px;
    border: none;
    background-color: transparent;
    font-size: 3vh;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.month-change-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.date-display {
    font-size: 3vh;
    
}

.day-week-change {
    float: none;
}

.day-week-change-button{
    padding: 10px;
}

.day-name-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(118, 216, 255);
    width: 100%;
    justify-content: center;
}

.week-day {
    color: rgb(0, 0, 0);
    padding: 1.5vw;
    font-size: 2vh;
    width: 100%;
    border: 1.5px outset black;
}

.today-highlight {
    background-color: #09cf91;
    color: rgb(255, 255, 255);
    width: 100%;
}

.month-day {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    font-size: 2vh;
    padding-bottom: 10vh;
    border: .5px outset rgb(77, 75, 75);
    height: 100%;
}

.in-prev-month,
.in-next-month {
    opacity: 0.5;
    background-color: rgb(238, 238, 238);
}
