.week-schedule-container {
    display: flex;
    border: 3px solid black;
    width: 100%;
}

.week-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.week-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}


